<div> 
  <h1 class="mt-10 p">Foods</h1>
  <%= link_to "New food", new_food_path %>
</div>

<section>
    <%= render partial: 'shared/table', locals: { 
        column_name2: "measurement unit", 
        column_name3: "price",
        column_name4: "quantity", 
        actions: [:remove],
        items: @foods,
    } %>
  </section>