<div class="flex justify-center w-full">
    <%= form_for @recipe_food, url: recipe_recipe_food_path(@recipe_food), method: :patch, class: '' do |f| %>
        <h1 class="text-center text-lg mb-4"> <%= @recipe_food.food.name %></h1>
        <div>
            <%= f.number_field :quantity, placeholder: 'New Quantity', class: "w-full p-2 border-solid border-black border-2" %>
        </div>
        <div>
            <%= f.submit 'Edit', class:"p-2 border-solid border-black border-2 w-full mt-5 cursor-pointer" %>
        </div>
    <% end %>
</div>